body {
	font-family: Microsoft JhengHei, 微軟正黑體, Heiti TC, 'Montserrat',  sans-serif;
}
.main-navigation a,
.site-title a,
.post-archive .hentry .entry-title a,
.post-archive .hentry .entry-meta span{
	transition: color .3s ease-in-out;
}

/* ##################
 *   WOW.js Animate 
 * ################## */
.blog-section-headline .page-title-wrapper:before {
	margin: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 0%;
	transition: width 1s ease-out .5s;
}
.blog-section-headline .page-title-wrapper.animated:before {
	width: 100%;
}
.blog-section-headline .page-title-wrapper.animated .page-title {
	animation: fadeInDown .5s ease-in-out both;
}
.post-archive .post-thumbnail.animated {
	animation: fadeIn .7s ease-out;
}
.post-archive .entry-container.animated {
	animation: fadeInUp .7s ease-out;
}

/* ##############
 *     Style 
 * ############## */
#infinite-post-wrap {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 0 100px 0;
}
#infinite-post-wrap .hentry {
	display: block;
	float: none;
	margin: 0;
	padding: 10px;
	width: 100%;
}
#infinite-post-wrap .hentry .post-thumbnail{
	position: relative;
	display: block;
	width: 100%;
	height: 0;
	float: none;
	padding-bottom: 56%;
}
#infinite-post-wrap .hentry .content-right {
	width: 100%;
	padding: 40px 30px;
}
#infinite-post-wrap .hentry .content-right .entry-meta {
	width: 100%;
	float: none;
	padding-left: 0;
}
#infinite-post-wrap .hentry .content-right .entry-meta span {
	display: block;
}
#infinite-post-wrap .hentry .content-right .entry-title {
	font-size: 1.25rem;
}
.home .posts-navigation {
	display: none;
}

/* 534以上 */
@media (min-width: 33.375em) {
	#infinite-post-wrap .hentry .content-right .entry-title {
		font-size: 1.65rem;
	}
}

/* 534以上 768以下 */
@media (min-width: 33.375em) and (max-width: 48em) {
	#infinite-post-wrap .hentry {
		flex: 0 0 100%;
		max-width: 100%;
	}
	#infinite-post-wrap {
		padding-left: 10px;
		padding-right: 10px;
	}
}

/* 768以上 */
@media (min-width: 48em) {
	#infinite-post-wrap .hentry {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.post-archive .hentry .post-thumbnail:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.3);
		transition: background .7s ease-in-out;
		
	}
	#infinite-post-wrap .hentry .post-thumbnail {
		left: 50%;
		transform: translateX(-50%);
		transition: all .7s ease-in-out;
	}
	#infinite-post-wrap .hentry:hover .post-thumbnail {
		width: calc(100% + 20px);
	}
	.post-archive .hentry:hover .post-thumbnail:before {
		background: rgba(0,0,0,0);
	}
	.post-archive .hentry:hover .entry-title a {
		color: rgba(0, 0, 0, 0.70);
	}
}

/* 768以上 1024以下 */
@media (min-width: 48em) and (max-width: 64em) {
	#infinite-post-wrap {
		padding: 0 10px 100px 10px;
	}
	#infinite-post-wrap .hentry:nth-child(even) {
		transform: translateY(100px);
	}
}
@media (min-width: 64em) {
	.main-navigation ul ul {
		top: 0;
		opacity: 0;
		transition: top .7s ease-out, opacity .4s ease-out .3s;
	}
	.main-navigation ul li:hover > ul {
		top: 53px;
		opacity: 1;
	}
	#infinite-post-wrap {
		padding: 0 20px 100px 20px;
	}
	#infinite-post-wrap .hentry {
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
		padding: 20px;
	}
	#infinite-post-wrap .hentry:nth-child(3n+2) {
		transform: translateY(100px);
	}
	.home #infinite-post-wrap .hentry:nth-child(10n) {
		display: none;
	}
}
