meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")

title 40-fourty

link(rel="icon" href="../../../assets/images/logo_small.png" type="image/png")

link(rel="stylesheet", href="../../../assets/styles/bootstrap.min.css")
link(rel="stylesheet", href="../../../assets/styles/aos.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css")

link(rel="stylesheet", href="../../../assets/styles/style.css")