@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Oswald:400,600");
body {
  min-width: 320px;
}

img {
  pointer-events: none;
}

*:focus {
  outline: none !important;
}

[data-aos="data-aos"] {
  visibility: hidden;
}

[data-aos="data-aos"].aos-animate {
  visibility: visible;
}

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.15) translateY(-15px);
    transform: scale(1.15) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.15) translateY(-15px);
    transform: scale(1.15) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-bck-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation fade-down
 * ----------------------------------------
 */
@-webkit-keyframes fade-down {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 1;
  }
  70% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
}
@keyframes fade-down {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 1;
  }
  70% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation fade-in-left
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation fade-in-right
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation scaling
 * ----------------------------------------
 */
@-webkit-keyframes scaling {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaling {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.timeline {
  position: relative;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(80, 80, 80, 0)), color-stop(8%, #505050), color-stop(92%, #505050), to(rgba(80, 80, 80, 0)));
  background: -webkit-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  background: -o-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  background: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline .timeline-content {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.timeline .timeline-content::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: white;
  border: 4px solid #ff5050;
  border-radius: 50%;
  z-index: 1;
}

.timeline .left {
  left: 0;
}

.timeline .right {
  left: 50%;
}

.timeline .left::before {
  content: " ";
  height: 0;
  position: absolute;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.timeline .right::before {
  content: " ";
  height: 0;
  position: absolute;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.timeline .right::after {
  left: -12px;
}

.timeline .content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  width: 100%;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-box-shadow .3s ease-in-out;
  transition: -webkit-box-shadow .3s ease-in-out;
  -o-transition: box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
}

.timeline .content p {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .timeline .prepare-block {
    display: block;
  }
  .timeline .content {
    padding: 20px;
  }
}

@media screen and (max-width: 575px) {
  .timeline::after {
    left: 31px;
  }
  .timeline .timeline-content {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  .timeline .timeline-content::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  .timeline .left::after, .timeline .right::after {
    left: 18px;
  }
  .timeline .right {
    left: 0%;
  }
}

.timeline .timeline-content:hover .content {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.timeline .timeline-content.aos-animate.left:after, .timeline .timeline-content.aos-animate.right:after {
  -webkit-animation: scaling .5s ease-in-out both;
  animation: scaling .5s ease-in-out both;
}

.timeline .timeline-content.aos-animate.left:before,
.timeline .timeline-content.aos-animate.left .content {
  -webkit-animation: fade-in-left .5s ease-in-out both;
  animation: fade-in-left .5s ease-in-out both;
}

.timeline .timeline-content.aos-animate.right:before,
.timeline .timeline-content.aos-animate.right .content {
  -webkit-animation: fade-in-right .5s ease-in-out both;
  animation: fade-in-right .5s ease-in-out both;
}

@media screen and (max-width: 575px) {
  .timeline .timeline-content.aos-animate.left:before,
  .timeline .timeline-content.aos-animate.left .content {
    -webkit-animation: fade-in-right .5s ease-in-out both;
    animation: fade-in-right .5s ease-in-out both;
  }
}

body {
  min-width: 320px;
  font-family: Microsoft JhengHei, 微軟正黑體, Heiti TC, Arial, Verdana;
}

img {
  pointer-events: none;
}

.wp {
  overflow: hidden;
}

.wp .bg {
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: url("../images/bg.jpeg") 50% 50% no-repeat;
  background-size: cover;
  -webkit-animation: kenburns-top 3s ease-out both;
  animation: kenburns-top 3s ease-out both;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

.wp .container {
  position: relative;
}

.container, .container-fluid {
  position: relative;
}

.banner {
  position: relative;
  height: 100vh;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.banner .scrollToID {
  position: absolute;
  bottom: 3vh;
  left: auto;
  right: auto;
  background: none;
  color: #FFF;
  border-radius: 50%;
  border: solid 2px #FFF;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-animation: fade-down 1.5s ease-in-out both infinite;
  animation: fade-down 1.5s ease-in-out both infinite;
}

.self {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 50vh;
}

.self .section-title {
  color: #66cc99;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 400;
}

.self .contact-info ul li label {
  min-width: 80px;
}

.self .skill-percentage {
  margin-bottom: 10px;
  position: relative;
}

.self .skill-percentage::after {
  content: "";
  width: 100%;
  height: 6px;
  background: #4a4e51;
  display: block;
  margin-top: 3px;
}

.self .skill-percentage::before {
  content: "";
  height: 6px;
  background: #66cc99;
  position: absolute;
  margin-top: 3px;
  bottom: 0;
}

.self .skills.aos-animate .skill-percentage:nth-child(1)::before {
  width: 80%;
  -webkit-animation: skill_1 0.6s ease both;
  animation: skill_1 0.6s ease both;
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
}

.self .skills.aos-animate .skill-percentage:nth-child(2)::before {
  width: 90%;
  -webkit-animation: skill_2 0.6s ease both;
  animation: skill_2 0.6s ease both;
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
}

.self .skills.aos-animate .skill-percentage:nth-child(3)::before {
  width: 70%;
  -webkit-animation: skill_3 0.6s ease both;
  animation: skill_3 0.6s ease both;
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
}

.self .skills.aos-animate .skill-percentage:nth-child(4)::before {
  width: 50%;
  -webkit-animation: skill_4 0.6s ease both;
  animation: skill_4 0.6s ease both;
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
}

.self .skills.aos-animate .skill-percentage:nth-child(5)::before {
  width: 70%;
  -webkit-animation: skill_5 0.6s ease both;
  animation: skill_5 0.6s ease both;
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
}

.self .skills.aos-animate .skill-percentage:nth-child(6)::before {
  width: 80%;
  -webkit-animation: skill_6 0.6s ease both;
  animation: skill_6 0.6s ease both;
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
}

@-webkit-keyframes skill_1 {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

@keyframes skill_1 {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

@-webkit-keyframes skill_2 {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

@keyframes skill_2 {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

@-webkit-keyframes skill_3 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

@keyframes skill_3 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

@-webkit-keyframes skill_4 {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}

@keyframes skill_4 {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}

@-webkit-keyframes skill_5 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

@keyframes skill_5 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

@-webkit-keyframes skill_6 {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

@keyframes skill_6 {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

.title {
  position: relative;
  text-align: center;
  display: inline-block;
}

@media screen and (min-width: 400px) {
  .title {
    min-width: 280px;
  }
}

@media screen and (min-width: 576px) {
  .title {
    min-width: 385px;
  }
}

@media screen and (max-width: 399px) {
  .title {
    min-width: 80%;
  }
}

.title .text {
  position: relative;
  display: inline-block;
  width: 100%;
}

@media screen and (max-width: 575px) {
  .title .text {
    width: auto;
  }
}

.title span {
  display: block;
}

.title span.cn {
  color: #FFF;
  text-shadow: 2px 2px 2px #000;
  line-height: 1.5;
  text-align: left;
  font-family: Microsoft JhengHei, 微軟正黑體, Heiti TC, Arial, Verdana;
}

.title span.en {
  font-size: 24px;
  letter-spacing: 4px;
  color: #FFF;
  text-shadow: 2px 2px 2px #000;
  text-align: right;
  font-family: 'Oswald', Microsoft JhengHei, 微軟正黑體, Heiti TC, Arial, Verdana;
  font-weight: 600;
}

@media screen and (max-width: 575px) {
  .title span.cn {
    font-size: 24px;
    text-align: center;
  }
  .title span.en {
    font-size: 16px;
    text-align: center;
  }
}

.title p {
  position: relative;
  display: inline-block;
  text-shadow: 1px 1px 1px #000;
}

.title p::before {
  content: '*';
  position: absolute;
  left: -8px;
  top: 5px;
  color: #F00;
  text-shadow: none;
  font-family: Arial, Verdana;
}

.title .lines {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.title .lines [class*="line-"] {
  position: absolute;
  background-color: #FFF;
  -webkit-box-shadow: 1px 1px 0.5px #000;
  box-shadow: 1px 1px 0.5px #000;
  overflow: hidden;
}

.title .lines .line-top,
.title .lines .line-bottom {
  width: 0px;
  height: 2px;
  -webkit-transition: width 0.6s ease-in-out 0.3s;
  -o-transition: width 0.6s ease-in-out 0.3s;
  transition: width 0.6s ease-in-out 0.3s;
}

.title .lines .line-left,
.title .lines .line-right {
  width: 2px;
  height: 0px;
  -webkit-transition: height 0.6s ease-in-out 0.3s;
  -o-transition: height 0.6s ease-in-out 0.3s;
  transition: height 0.6s ease-in-out 0.3s;
}

.title .lines.aos-animate .line-top,
.title .lines.aos-animate .line-bottom {
  width: 100%;
}

.title .lines.aos-animate .line-left,
.title .lines.aos-animate .line-right {
  height: 100%;
}

.title .lines .line-top {
  left: 0;
  top: 0;
}

.title .lines .line-bottom {
  right: 0;
  bottom: 0;
}

.title .lines .line-left {
  left: 0;
  top: 0;
}

.title .lines .line-right {
  right: 0;
  bottom: 0;
}

.sub-title {
  text-align: center;
  color: #FFF;
  text-shadow: 1px 1px 2px #000;
}

.sub-title span.en {
  font-size: 18px;
}

.title-underline {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
}

.title-underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0%;
  height: 1px;
  background-color: #fff;
  -webkit-transition: width .5s ease-in-out;
  -o-transition: width .5s ease-in-out;
  transition: width .5s ease-in-out;
}

.title-underline:hover::after {
  width: 100%;
}

.list-title {
  color: #FFF;
}

.list-title > * {
  font-size: 18px;
  text-shadow: 0 0 1px #000;
}

.list-title a {
  color: inherit;
}

.list-title span {
  display: inline-block;
}

.list-title .company {
  word-break: keep-all;
}

.list-title .heading2 {
  margin-bottom: 10px;
}

.list-title p {
  margin-bottom: 6px;
}

.lists {
  padding-top: 120px;
  padding-bottom: 40px;
}

.lists .list-item .card {
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.lists .list-item .card .card-pic {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}

.lists .list-item .card .card-pic img {
  width: auto;
  max-width: 75%;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.lists .list-item .card .card-body {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.lists .list-item .card .card-body::before {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 0;
  width: calc(100% - 50px);
  height: 1px;
  border-top: dashed 1px #ddd;
}

.lists .list-item .card .card-body .card-title {
  -webkit-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.lists .list-item:hover .card .card-pic img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.lists .list-item:hover .card .card-body .card-title {
  color: #66cc99;
  text-shadow: 0px 0px 1px;
}

@media screen and (max-width: 575px) {
  .list-title,
  .lists .list-item .card {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn-primary {
  background-color: transparent;
  color: #235784;
  border-color: #235784;
  -webkit-box-shadow: 2px 2px 2px #235784;
  box-shadow: 2px 2px 2px #235784;
}

.btn-primary:hover {
  -webkit-box-shadow: 0px 0px 0px #235784;
  box-shadow: 0px 0px 0px #235784;
  background-color: #235784;
  border-color: #235784;
}

.scrollTop {
  margin: 0 auto 50px auto;
  display: block;
  cursor: pointer;
  background: none;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #FFF;
  border: solid 2px #FFF;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  -o-transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

.scrollTop:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.scrollTop:hover i[class*="-icons"] {
  -webkit-animation: slide-in-blurred-bottom .6s ease-in-out both;
  animation: slide-in-blurred-bottom .6s ease-in-out both;
}

.scrollTop:focus {
  outline: none;
}

@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.15) translateY(-15px);
    transform: scale(1.15) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

@-webkit-keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(50px) scaleY(2.5) scaleX(0.2);
    transform: translateY(50px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(50px) scaleY(2.5) scaleX(0.2);
    transform: translateY(50px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
