body {
    min-width: 320px;
}
img {
    pointer-events: none;
}
*:focus {
    outline: none !important;
}
[data-aos="data-aos"] {
    visibility: hidden;
    &.aos-animate {
        visibility: visible;
    }
}